<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.mapper.PlayRecordMapper">
    <select id="selectByUserId" resultType="com.movie.entity.PlayRecord">
        SELECT * FROM play_record WHERE user_id = #{userId} ORDER BY play_time DESC
    </select>
    <select id="selectByMovieId" resultType="com.movie.entity.PlayRecord">
        SELECT * FROM play_record WHERE movie_id = #{movieId} ORDER BY play_time DESC
    </select>
    <update id="updatePlayCount">
        UPDATE movie SET play_count = play_count + 1 WHERE id = #{movieId}
    </update>
    <select id="selectPlayRank" resultType="com.movie.entity.PlayRecord">
        SELECT movie_id, COUNT(*) as play_count
        FROM play_record
        WHERE play_time >= #{startTime} AND play_time &lt;= #{endTime}
        GROUP BY movie_id
        ORDER BY play_count DESC
        LIMIT 10
    </select>
</mapper>